# Google Sheets Configuration
EXPO_PUBLIC_API_KEY=your_api_key_here
EXPO_PUBLIC_SHEET_ID=your_spreadsheet_id_here
EXPO_PUBLIC_SHEET_NAME=MyProfile
EXPO_PUBLIC_RANGE=A1:E100
EXPO_PUBLIC_SHEETS_URL=https://sheets.googleapis.com/v4/spreadsheets/
